body {
  align-items: center;
  background-color: #000;
  display: flex;
  justify-content: center;
  height: 100%;
  color: white;
}

.form {
  background-color: #15172b;
  border-radius: 20px;
  box-sizing: border-box;
  height: 1400px;
  padding: 30px;
  width: 800px;
  margin: 100px 0 100px 0;
}

.title {
  color: #eee;
  font-family: sans-serif;
  font-size: 36px;
  font-weight: 600;
  margin-top: 30px;
}

.subtitle {
  color: #eee;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 20px;
}

.input-container {
  height: 50px;
  position: relative;
  width: 100%;
}

.ic1 {
  margin-top: 40px;
}

.ic2 {
  margin-top: 30px;
}

.input {
  background-color: #303245;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  font-size: 18px;
  height: 100%;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;
}

.cut {
  background-color: #15172b;
  border-radius: 10px;
  height: 20px;
  left: 20px;
  position: absolute;
  top: -20px;
  transform: translateY(0);
  transition: transform 200ms;
  width: 76px;
}

.cut-short {
  width: 50px;
}

.input:focus ~ .cut,
.input:not(:placeholder-shown) ~ .cut {
  transform: translateY(8px);
}

.placeholder {
  color: #65657b;
  font-family: sans-serif;
  left: 20px;
  line-height: 14px;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms;
  top: 20px;
}

.input:focus ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder {
  transform: translateY(-30px) translateX(10px) scale(0.75);
}

.input:not(:placeholder-shown) ~ .placeholder {
  color: #808097;
}

.input:focus ~ .placeholder {
  color: #dc2f55;
}

.submit {
  background-color: #08d;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  margin-top: 38px;
  outline: 0;
  text-align: center;
  width: 100%;
}

.submit:active {
  background-color: #06b;
}




.slider_component {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 750px;
  margin: 20px 0;
}

.slider_component_itself_wrapper {
  width: 100%;
  padding: 0 10px;
}

.slider_component_wrapper {
  padding: 10px 0;
}

.value {
  min-width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h4 {
  font-family: sans-serif;
  text-align: center;
}

.dietary_restriction_container {
  display: flex;
  justify-content: space-around;
  padding: 0 20px;
  margin: 50px 0;
}

.dietary_restriction_container_unit {
  background-color: #65657b;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
}

.dietary_restriction_container_unit h4 {
  font-size: 12px;
}

/* .values_component {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.slider_component_itself {
  width: 100%;
}

.slider_component_itself_wrapper {
  padding: 1% 10% 0 10%;
} */